        <div id="copyright">
            <ul>
                <li>&copy;Powered By <a href="/" style="border-bottom: none;">hexo</a></li>
                <li>&copy;<a href="https://www.zhenxishenghuo.club/" style="border-bottom: none;">京ICP备19000049号-1</a></li>
                <li>Author: <a href="http://github.zhenxishenghuo.club " style="border-bottom: none;">michael</a></li>
            </ul>
            <% if(theme.busuanzi.enable === true ) { %>
                <span id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv"></span>次</span>
			<% } else { %>
				<span id="busuanzi_container_site_pv"> <%- date(Date.now(), 'YYYY') %> </span>
			<% } %>
        </div>
