<footer style="text-align: center; padding-top: 2em;">
  <% if (page.total > 1){ %>
    <div class="pagination" >
        <%- paginator({
            prev_text: "pre",
            next_text: "nex"
        }) %>
    </div>
    <% } %>
</footer>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7D9Z15PCQ2"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-7D9Z15PCQ2');
</script>
